.hero {
    position: relative;
    @include clearfix();
    margin-bottom: rem-calc(30);

    @include respond-to(medium) {
        margin-bottom: rem-calc(50);
    }

    @include respond-to(xlarge) {
        margin-bottom: rem-calc(70);
    }
}

.hero__image {
    width: 100vw;
    z-index: 1;
    position: relative;
    margin-left: rem-calc(-20);

    img {
        max-width: 100%;
        max-height: 100vh;
    }

    img + img {
        width: 68%;
        margin-top: rem-calc(-50);
        margin-left: rem-calc(10);
    }

    @include respond-to(xlarge) {
        margin-left: 0;
    }
}

.hero__image--home {

    @include respond-to(medium) {
        float: left;
        max-width: 65%;
    }
    
}

.hero__button {
    position: absolute;
    left: rem-calc(20);
    top: 0;
    z-index: 3;
}

.hero__title {
    text-align: center;
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(-30);
    z-index: 2;
    position: relative;

    @include respond-to(small) {
        margin-bottom: rem-calc(-40);
    }

    @include respond-to(medium) {
        position: absolute;
        z-index: 2;
        width: auto;
        top: rem-calc(70);
        right: 5%;
        float: 0;
        margin: 0;
    }

    @include respond-to(large) {
        top: rem-calc(100);
    }
}

.hero__content {
    text-align: center;
    padding: rem-calc(20 0);

    @include respond-to(medium) {
        text-align: right;
        position: absolute;
        z-index: 2;
        min-width: rem-calc(400);
        bottom: rem-calc(20);
        right: rem-calc(20);
        float: 0;
        margin: 0;
    }

    @include respond-to(large) {
        min-width: rem-calc(500);
    }

    .preh2 {
        transform: translateX(#{rem-calc(-70)});

        @include respond-to(small) {
            transform: translateX(#{rem-calc(-140)});
        }

        @include respond-to(medium) {
            transform: translateX(#{rem-calc(-180)});
        }

        @include respond-to(large) {
            transform: translateX(#{rem-calc(-280)});
        }
    }
}