.carousel {
    width: auto;
    list-style-type: none;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    margin: rem-calc(30 0 40);

    @include respond-to(small) {
        margin: rem-calc(60 0 60);
    }

    @include respond-to(xlarge) {
        margin: rem-calc(100 0 100);
    }
}

.carousel__item {
    display: inline;
    padding: rem-calc(0 10 0 0);

    @include respond-to(medium) {
        padding: rem-calc(0 15 0 0);
    }

    @include respond-to(large) {
        padding: rem-calc(0 20 0 0);
    }

    @include respond-to(xlarge) {
        padding: rem-calc(0 25 0 0);
    }

    &:last-child {
        padding: 0;
    }

    a {
        display: block;
    }

    img {
        height: rem-calc(142);

        @include respond-to(medium) {
            height: rem-calc(217);
        }

        @include respond-to(large) {
            height: rem-calc(284);
        }

        @include respond-to(xlarge) {
            height: rem-calc(346);
        }
    }
}

.carousel__controls {
    position: relative;
    z-index: 2;
    margin-top: rem-calc(-70);
    float: right;
    background-color: white;
    padding: rem-calc(10);
}

.carousel__control {
    font: 0/0 a;
    display: inline-block;
    vertical-align: middle;
    width: rem-calc(30);
    height: rem-calc(30);
    background-size: rem-calc(24);
    background-position: center center;
    background-repeat: no-repeat;

    &.disabled {
        opacity: 0.25;
        cursor: not-allowed;
    }
}

.carousel__control--prev {
    background-image: url("/images/icons/carousel-left--black.svg");
}

.carousel__control--next {
    background-image: url("/images/icons/carousel-right--black.svg");
}