.easy-autocomplete {
    position: relative;
}

.easy-autocomplete-container {

    @include respond-to(medium) {
        position: absolute;
        z-index: 9;
        width: 100%;
        top: rem-calc(50);
    }


    ul {
        list-style: none;
        text-align: left;
        padding: rem-calc(5 15);
        border: 1px solid palette("grey", "light");
        border-top: none;
        font-family: $body;
        display: none;
        background-color: white;
    }


}

.eac-item {
    a {
        color: black;
        padding: rem-calc(8 0);
        display: block;
        letter-spacing: rem-calc(0.5);
    }
}