footer {
    clear: both;
    margin-top: rem-calc(30);
    height: rem-calc(39);

    @include respond-to(medium) {
        margin-top: rem-calc(50);
    }

    a {
        color: white;
        transition: opacity 200ms;

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }
}