.list {
}

.list__item {
    clear: both;
    @include clearfix();

    @include respond-to(medium) {
        display: flex;
        align-items: center;
    }
}

.list__media {
    position: relative;
    @include clearfix();

    @include respond-to(medium) {
        width: 55%;
    }
}

.list__image {
    width: 70%;
    margin-top: rem-calc(10);

    .list__item--right & {
        float: right;
    }
}

.list__media-sec {
    position: absolute;
    width: 40%;
    top: 0;

    .list__image {
        margin-bottom: rem-calc(10);
        margin-top: 0;
        width: 100%;
    }
}

.list__quote {
    max-width: rem-calc(320);
    margin: rem-calc(15) auto;

    @include respond-to(small) {
        margin-top: rem-calc(20);
        max-width: rem-calc(440);
    }

    @include respond-to(medium) {
        width: 41%;
        margin: 0 2%;
    }

    @include respond-to(large) {
        max-width: none;
    }
}




.list__item--left {

    .list__media {
        @include respond-to(medium) {
            // float: left;
        }
    }
    
    .list__media-sec {
        right: 0;

        .list__button {
            margin-left: rem-calc(-17);
        }
    }

    .list__quote {
        @include respond-to(medium) {
            // float: right;
        }
    }
}

.list__item--right {

    @include respond-to(medium) {
        flex-direction: row-reverse;
    }

    .list__media {
        @include respond-to(medium) {
            float: right;
        }
    }

    .list__media-sec {
        left: 0;
        text-align: right;

        .list__button {
            margin-right: rem-calc(-17);
        }
    }

    .list__quote {
        @include respond-to(medium) {
            // float: left;
        }
    }
}

