<div class="list wrapper--large">

    {% for person in site.data.people.people %}
        {% unless person[0] == page.person-id %}

            {% assign personName = person[0] %}
            {% assign personData = person[1] %}

            {% include list-item.html %}

        {% endunless %}
    {% endfor %}

        <div class="align-center wrapper--50">
            <h2>That's it!</h2>
            <p class="large">We’re sure there are more people who love you, we just haven’t spoken to them!</p>
        </div>
</div>