<div class="list">
    <div class="list__item list__item--landscape list__item--primary-left">
        <img src="/images/landscape-image.jpg" alt="Karen &amp; Kerry" class="list__image list__image--primary">
        <div class="list__overlay">
            <img src="/images/landscape-image.jpg" alt="Karen &amp; Kerry" class="list__image list__image--secondary">
            <a href="/kerry" class="button button--solid list__button">
                more love from<br>
                <span class="button--solid-name">Kerry</span>
            </a>
        </div>
        <blockquote class="list__quote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet magna ut lorem imperdiet hendrerit.</p>
        </blockquote>
    </div>

    <hr>

    <div class="list__item list__item--landscape list__item--primary-right">
        <img src="/images/landscape-image.jpg" alt="Karen &amp; Kerry" class="list__image list__image--primary">
        <div class="list__overlay">
            <a href="/kerry" class="button button--solid list__button">
                more love from<br>
                <span class="button--solid-name">Kerry</span>
            </a>
            <img src="/images/landscape-image.jpg" alt="Karen &amp; Kerry" class="list__image list__image--secondary">
        </div>
        <blockquote class="list__quote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet magna ut lorem imperdiet hendrerit.</p>
        </blockquote>
    </div>

    <hr>

    <div class="list__item list__item--mixed list__item--primary-right">
        <img src="/images/portrait-image.jpg" alt="G" class="list__image list__image--primary">
        <div class="list__overlay">
            <img src="/images/landscape-image.jpg" alt="Karen &amp; Kerry" class="list__image list__image--secondary">
            <a href="/kerry" class="button button--solid list__button">
                more love from<br>
                <span class="button--solid-name">Kerry</span>
            </a>
        </div>
        <blockquote class="list__quote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet magna ut lorem imperdiet hendrerit.</p>
        </blockquote>
    </div>

    <hr>

    <div class="list__item list__item--mixed list__item--primary-left">
        <img src="/images/portrait-image.jpg" alt="G" class="list__image list__image--primary">
        <div class="list__overlay">
            <img src="/images/landscape-image.jpg" alt="Karen &amp; Kerry" class="list__image list__image--secondary">
            <a href="/kerry" class="button button--solid list__button">
                more love from<br>
                <span class="button--solid-name">Kerry</span>
            </a>
        </div>
        <blockquote class="list__quote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet magna ut lorem imperdiet hendrerit.</p>
        </blockquote>
    </div>

    <hr>

    <div class="list__item list__item--portrait list__item--primary-right">
        <img src="/images/portrait-image.jpg" alt="G" class="list__image list__image--primary">
        <div class="list__overlay">
            <a href="/kerry" class="button button--solid list__button">
                more love from<br>
                <span class="button--solid-name">Kerry</span>
            </a>
            <img src="/images/portrait-image.jpg" alt="G" class="list__image list__image--secondary">
        </div>
        <blockquote class="list__quote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet magna ut lorem imperdiet hendrerit.</p>
        </blockquote>
    </div>

    <hr>

    <div class="align-center">
        <a href="#" class="button button--outline">Who else loves me?</a>
    </div>
</div>