@each $color, $shades in $colors-map {
    $colorName: if($color == "grey", '-', '--#{$color}');
    @each $shade, $value in $shades {

        $shadeModifier: if($shade == "base", '', '-#{$shade}');

        @if $shade == base {

            $shadeModifier: if($color == "grey", '-#{$color}', '');
        }
        @else {
            $shadeModifier: '-#{$shade}';
        }

        .text-color#{$colorName}#{$shadeModifier} {
            color: palette($color, $shade);
        }
    }
}

.text-color--white {
    color: white;
}