@import "tools/tools";
@import "vars/vars";
@import "normalize";

@import "utils/utils";

@import "atoms/wrapper";
@import "atoms/hero";
@import "atoms/type";
@import "atoms/island";
@import "atoms/input";
@import "atoms/rule";
@import "atoms/buttons";
@import "atoms/quotes";

@import "molecules/list";
@import "molecules/footer";
@import "molecules/rotating-text";
@import "molecules/easy-autocomplete";



// DEBUG CODE
body:after {
    content: "XS";
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    padding: rem-calc(20);

    @include respond-to(small) {
        content: "SM";
    }

    @include respond-to(medium) {
        content: "MD";
    }

    @include respond-to(large) {
        content: "LG";
    }

    @include respond-to(xlarge) {
        content: "XL";
    }
}