<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>{{ page.page-title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="home" href="https://welovekaren.com/">

    <link rel="stylesheet" href="https://use.typekit.net/zov5rtj.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.5/tiny-slider.css">

</head>

<body>

    {{ content }}

    <!-- {% include list.html %} -->

    <footer class="island island--black align-center trim pad-10">
        <p class="text-color--white"><strong>Built with &#10084; by James and Mat.</strong></p>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/lib/jquery.easy-autocomplete.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

</body>
</html>