---
layout: default
---

{% assign person = site.data.people.people[page.person-id] %}

    
<header class="hero wrapper">

    <a href="/" class="button button--outline button--back hero__button">Back</a>

    <div class="hero__title">
        <span class="preh1">{{ person.i-or-we }} love</span>
        <h1>{{ person.aka }}</h1>
    </div>
    
    <div class="hero__image">
        {% if person.large-image %}
            <img src="{{ person.large-image.url }}" alt="{{ person.large-image.alt }}">
        {% endif %}
        {% if person.small-image %}
            <img src="{{ person.small-image.url }}" alt="{{ person.small-image.alt }}">
        {% endif %}
    </div>
    
</header>

<div class="wrapper align-center wrapper--content">

    {% if person.quote %}
    <blockquote>
        {{ person.quote | markdownify }}
    </blockquote>
    {% endif %}
</div>
    
{% if person.carousel-images %}
    <div class="clearfix">
        <div class="carousel">
        {% for image in person.carousel-images %}
            <a href="{{ image.large }}" class="carousel__item" title="{{ image.title }}" data-carousel-item><img src="{{ image.small }}"></a></li>
        {% endfor %}
        </div>
        <!-- <nav class="carousel__controls" data-carousel-controls>
            <a href="#" class="carousel__control carousel__control--prev disabled" data-carousel-prev>Previous</a>
            <a href="#" class="carousel__control carousel__control--next" data-carousel-next>Next</a>
        </nav> -->
    </div>
{% endif %}


<div class="wrapper align-center wrapper--content">

    {{ content | markdownify }}

    <span class="preh2">Love</span>
    <h2 class="h1">{{ person.firstname }}</h2>

    <hr>

    <h2>And...</h2>

    <form action="#" method="post" class="form">
        <input type="text" placeholder="Start typing a name or scroll down to see more..." class="input" data-autocomplete data-autocomplete-options="/data/people.json">
    </form>

</div>


